* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8; 
}

/* Header */
header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    background-color: #caf0f8; 
    opacity: 0;
    animation: fadeIn 2s forwards;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.5s ease-in-out;
}

header:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.favicon {
    width: 140px;
    height: 130px;
}

.app-title {
    color: #d8b4fe; 
    font-family: Coiny, sans-serif;
    font-size: 44px;
    margin-top: 1.4rem;
}

/* Score component */
.score-component {
    text-align: center;
    margin-top: 50px; /* Adjust this value as needed */
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #333; 
}

.note {
    font-size: 14px;
    color: #666; 
    margin-top: 10px;
}

.separator {
    width: 50%;
    margin: 20px auto; 
    border: none;
    border-top: 2px solid #ccc; 
}

.quote {
    font-style: italic;
    color: #666;
}

/* Calendar */
.calendar {
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 70px auto;
}

.month-header {
  background-color: #4285f4;
  color: white;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
}

.weekdays div {
  padding: 5px;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.days div {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.green {
  background-color: #4ec952;
}

.blue-checkmark {
  background-image: url('checkmark_blue.png');
  background-size: cover;
  background-position: center;
}

/* Animations */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}